# -----------------------------------------------------------
# General

distros/*
MPS/*
mps-distrib/*

.DS_Store
.metadata
.svn
*.synctex.gz
*.aux
*.log
*.*.synctex.gz
*.*.aux
*.*.log

.idea
workspace.xml

junitvmwatcher*.properties
build.properties
TEST-*.xml
junit*.properties

classes_gen
source_gen
source_gen.caches

# -----------------------------------------------------------
# * build
build/*/build
build/allInOne

# -----------------------------------------------------------
# * lib - here we seem to need the generated sources.
code/languages/*/lib/*/classes_gen
code/languages/*/lib/*/source_gen.caches



# -----------------------------------------------------------
# * tests
test_gen
test_gen.caches
analyses_results




# -----------------------------------------------------------
# * project settings
code/languages/*/*.iws
code/languages/*/build.properties
code/languages/*/TEST*.xml

# -----------------------------------------------------------
# applications
code/applications/*/*.iws
code/applications/*/build.properties

#-----------------------------------------------------------
# tests
code/languages/*/solutions/*/test_gen.caches/
code/languages/*/solutions/*/test_gen/


# ----------------------------------------------------
# result files from the cbmc unit tests
source_gentest.analyses.cbmc.testcode_nightly_nightly.html

# -----------------------------------------------------------
# compiled java classes within the ant-task eclipse workspace 
ant-task-workspace/*/bin/

code/*/xmlCBMCRawOutput/*

	
